<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-title>-->
<!--      Blank-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content [fullscreen]="true">-->
<!--    &lt;!&ndash;  <ion-header collapse="condense">&ndash;&gt;-->
<!--    &lt;!&ndash;    <ion-toolbar>&ndash;&gt;-->
<!--    &lt;!&ndash;      <ion-title size="large">Blank</ion-title>&ndash;&gt;-->
<!--    &lt;!&ndash;    </ion-toolbar>&ndash;&gt;-->
<!--    &lt;!&ndash;  </ion-header>&ndash;&gt;-->

<!--    -->
<!--</ion-content>-->
<div id="container">
    <div id="viewer"></div>

    <canvas id="floorplanner-canvas" width="300" height="200"></canvas>
</div>
